<div class="mdk-drawer js-mdk-drawer" id="default-drawer">
    <div class="mdk-drawer__content ">
        <div class="sidebar sidebar-left sidebar-light bg-light o-hidden"
                data-perfect-scrollbar>
            <div class="sidebar-p-y">
                <div class="sidebar-heading">My Orders</div>
                <ul class="sidebar-menu sm-active-button-bg">
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                            href="/dashboard">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">school</i> Courses
                        </a>
                    </li>
                </ul>
                <!-- Account menu -->
                <div class="sidebar-heading">Account</div>
                <ul class="sidebar-menu">
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                            href="/dashboard/basicinfo">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">account_circle</i> Basic Information
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                            href="/dashboard/paymentinfo">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">account_balance_wallet</i> Payment Information
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                            href="/dashboard/history">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">receipt</i> Payment History
                        </a>
                    </li>
                </ul>
                <div class="sidebar-heading">Authentication</div>
                <ul class="sidebar-menu sm-active-button-bg">
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                            href="/api/user/logout">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">lock_open</i> Logout
                        </a>
                    </li>
                </ul>
           
            </div>
        </div>
    </div>
</div>