<!DOCTYPE html>
<html lang="en">
<%- include('components/head') %>
<%- include('components/theme') %>
<%- include('components/header') %>

<div class="inner-banner bg-default-2 pt-29 pb-6">
    <div class="container">
      <div class="row  justify-content-center pt-5">
        <div class="col-xl-8 col-lg-9">
          <div class="px-md-15 text-center">
            <h2 class="title gr-text-2 mb-9">Privacy Policy</h2>
            <p class="gr-text-8 mb-13">By accessing and placing an order with Rhombus Education, you confirm that you are in agreement with and bound by the terms and conditions</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-block bg-default-2 pb-21">
      <div class="container">
      <p>First of all we would like to welcome you (hereinafter mentioned as ‘the user’ ‘you’) and thank you for becoming a part of the Rhombus Education family, one of the top e-learning marketplaces. At Rhombus Education (hereinafter mentioned as ‘us’ or ‘we’), we understand how important privacy is for you and that is why we have framed this privacy policy so that you understand how we collect, use and disseminate your data. We have covered all of our data collection practices and have hereunder, mentioned comprehensively your rights in relation to the same. This privacy policy will apply each time, you visit our website or our application.</p>
      <p class="mb-8">It is hereby made clear that once you get enrolled with us and start using our services, you agree to the terms of the present privacy policy. Kindly do not enroll with us if you don’t wish to be bound by the same.</p>
      
      <h3>Disclaimer</h3>
      <p>Rhombus Education does not give any warranty or other assurance as to the operation, quality or functionality of the website or its fitness for any particular purpose. Access to the Site may be interrupted, restricted or delayed for any reason. Similarly, Rhombus Education does not give any warranty or other assurance as to the content of the material appearing on the Site, its accuracy, completeness, timeliness or fitness for any particular purpose. To the full extent permissible at law, Rhombus Education disclaims all responsibility for any damages or losses or other consequential losses arising in contract, or otherwise from the use of or inability to use the Site or any material appearing on the Site, or from any action or decision taken as a result of using the Site or any such material.</p>
      <p class="mb-8">The material contained on this site and on the associated web pages is general information and is not intended to be advice on any particular matter. Subscribers and readers should seek appropriate professional advice and guidance before acting on the basis of any information contained herein. Rhombus Education, its directors, employees, agents, representatives and the authors expressly disclaim any and all liability to any person, whether a subscriber or not, in respect of anything and of the consequences of anything done or omitted to be done by any such person in reliance upon the contents of this site and associated web pages.</p>
      
      <h4>1. Data which will be collected by us.</h4>
        <ul class="sm-ltr">
          <li>Once you become a part of the Rhombus Education family, we will be collecting certain data from you which is directly entered by you on our online platform, such as, your personal and academic information, information regarding the courses you opt for and important data with respect to the third-party platforms we will be connected with, by virtue of you. Such data will include various forms of data.</li>
          <li>Apart from the information entered by you, we will be collecting certain data automatically. The same shall be collected through the use of server log files and tracking technologies such as ‘Cookies’, ‘Data Collection Tools’ etc. Such information shall include ‘Usage Data’ such as time spent on our pages by you, number of times our website was visited by you, pages visited, features and services used, etc., ‘System Data’ such as IP Address, device being used, browser, Operating System, etc., and Geographic Data such as your city, geographic co-ordinates, etc. You may choose to share additional information with us such as address book, contact list etc through our Mobile App. Rhombus Education is also authorized to use additional information provided by you about self and your contacts (for Referral programs etc.) in course of engaging with our courses and other services.</li>
          <li>When you interact online on our platform with other users or any or all of the faculties, or post answers, queries or reviews, such data will also be collected by us and some of it may be publicly viewable as well, depending upon the nature of the content being posted.</li>
          <li>All the data pertaining to the assignments solved by you and the tests attempted by you and your performance in the same shall also be recorded and we have the right to use the data as deemed fit. Once you start solving assignments and preparing for different types of tests, your performance analysis will be captured and used prudently.</li>
          <li>When you purchase our product online, you can make the payment by way of netbanking (Only specific banks) or by way of credit, debit cards and wallets etc. To ensure your security against any online fraud, we will not be collecting or storing any sensitive data pertaining to the card or the card holder.</li>
          <li>In order to improve our services and to ensure that Rhombus Education is in pace with the needs of the ever-changing demands of the students, we will keep holding surveys and promotional contests and challenges. In relation to the same, we may invite you to participate in the same and store the data that is provided from your end. Apart from this, Rhombus Education reserves the right to use, publish and notify the names (either on our website or publicly) of the winners of such promotional contests and challenges and for the purpose of distribution of rewards as well.</li>
          <li>Any data pertaining to any queries raised by you, or any issue or problem reported by you in relation to our services being used by you shall also be stored for the purpose of looking into such issues and resolving the same.</li>
        </ul>
      
      <h4>2. Use of Cookies</h4>
      
      <p class="mb-8">Rhombus Education uses cookies for the purpose of analyzing how our services are used by you, for giving you a more personalized experience and recognizing you as and when you come back. We also use web beacons for the purpose of measuring the number of times you visit our website and specific pages, your activities on our platform and advertising more efficiently and relevantly.</p>
      
      <h4>3. Data Usage</h4>
      <p>The data which is collected by us is used for various purposes. Rhombus Education uses your data in accordance with the law and aims at ensuring that none of the data gets misused for any illegal purposes. The major role of this data collection is:</p>
      <ul class="nmbrs">
        <li>To provide the right service/ services to you in relation to the course opted.</li>
        <li>For timely responses and processing of courses, products and features selected by you.</li>
        <li>For timely response to and resolution of your concerns and queries.</li>
        <li>For facilitating effective communication to ensure that you are timely informed of the messages, notifications, progress of the course, performance analysis, newsletters and updates in relation to your specific course/courses.</li>
        <li>For soliciting the valuable feedback of the users in relation to our services and products.</li>
        <li>For developing new products, e-services and other features for more user friendly access to our products.</li>
        <li>For advertisement purposes.</li>
        <li>To ensure that the data of the users is protected against any fraud or any other issue.</li>
      
      </ul>
      
      <h4>4. Sharing of your data</h4>
      
      <p class="mb-8">As and when it is required, for the purpose of our website, the data provided by you may be shared by the faculty members, our business partners, analytics, social media providers, promotions and survey providers, etc. </p>
      
      <h4>5. Security</h4>
      
      <p class="mb-8">At Rhombus Education, your security is of prime importance to us and we make it an endeavour to take all important measures to ensure maximum data protection from our end. Unfortunately, it is not possible to guarantee 100 percent security under all circumstances. Also, to ensure maximum security, we require your co-operation as well. Therefore, do not share your ID and Password with any third person. If you feel there is any suspicious activity going on in relation to your account, inform us at the earliest. We will not be liable for any loss caused because of the delay on your end.</p>
      
      <h4>6. Your Rights</h4>
      
      <p class="mb-8">Rhombus Education understands how important your data is to you and for this we give you certain rights in relation to the use of your data by us. The user shall have the right to opt out of any event or promotional challenges or competitions being offered by us. You can always reach out to us and make individual requests in relation to the use of your data. However, it shall be our discretion as to how such requests are entertained.</p>
      
      <h4>7. Subscription</h4>
      
      <p class="mb-8">Any contents and/or services on the site may be discontinued temporarily/permanently at any point of time with or without any prior notice.</p>
      
      <h4>8. Modifications and Amendments:</h4>
      
      <p class="mb-8">Rhombus Education reserves the right and has the sole discretion to edit, modify, amend, or delete any document, information or other content appearing on the site.</p>
      
      <h4>9. Amendments and Changes  in the Privacy Policy and Contact information</h4>
      
      <p class="">Rhombus Education reserves the right to modify our contact information and this Privacy Policy from time to time and make such essential modifications as is required according to the need of the hour. It is your responsibility to review the terms carefully from time to time. Once you continue to use our products and services after such changes have been made effective, it will be deemed that you have accepted all the modifications and changes. </p>
      <p class="mb-8">In case of doubt or query, feel free to reach us via e-mail webadministrator@Rhombus Education.com</p>
      
      <h4>10. Jurisdiction</h4>
      
      <p class="mb-8">Any dispute arising out of any transaction made by you on this website or due to any breach of these Terms of Use shall be subjected to Sri Ganganagar exclusively.</p>
      
      <h4>11. Questions</h4>
      
      <p class="">If you have any questions, concerns, or disputes regarding our Privacy Policy or any other practices of Rhombus Education, or your dealings with the us, you can contact us at support@rhombuseducation.com or write to:</p>
      
      <p>
      Rhombus Education,<br>
      47 D Block, Block Area, Sri Ganganagar, Rajasthan, India <br>
      
      </p>
      
      
      </div>
  </div>
    
<%- include('components/footer') %>
</body>
</html>