<!DOCTYPE html>
<html lang="en">
<%- include('components/head') %>
<%- include('components/theme') %>
<div class="position-fixed p-8" id="toast-bar" style="z-index: 1000; top: 0;left: 50%; transform: translateX(-50%);">
    
</div>

<div class="sign-in bg-default-2 d-flex align-items-center overflow-auto" style="height:100vh">
    <!-- Header Brand Area -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9 col-lg-7 col-xl-5">
          <div class="main-block">
            
            <div class="login-form bg-white border rounded-10 px-12 py-16 shadow-1 mb-11">
                <div class="form-title text-center">
                    <h2 class="title gr-text-4">Reset Password</h2>
                    <p class="gr-text-10 mb-13">Enter your email to get new password details.</p>
                  </div>
                    <div class="form-group">
                      <label for="email" class="gr-text-11 font-weight-bold text-blackish-blue">Email</label>
                      <input class="form-control gr-text-11 border" type="email" id="email" placeholder="i.e. john@mail.com">
                    </div>
                    <div id="btnBlock" class="button-block mt-3 ">
                      <button id="resetBtn" class="form-btn btn btn-primary w-100">Send Reset Link</button>
                    </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <%- include('components/footer') %>
  <script>

    function reset(){
      document.getElementById('resetBtn').innerHTML = '<img src="/static/image/animations/loading-circle.gif" style="filter: invert(1);" height="24px">'

      var email = document.getElementById('email').value

      var settings = {
        "url": "/api/user/reset",
        "method": "POST",
        "timeout": 0,
        "headers": {
          "Content-Type": "application/json",
        },
        "data": JSON.stringify({"email": email}),
        success: (response) => {

          document.getElementById('btnBlock').innerHTML = `<div class="p-4 text-success"><i class="fa fa-check-circle mr-3"></i>${response.message}</div>`

        },
        error: (error) => {
          toast.error(error.responseText)
        }
      };

      $.ajax(settings)
    }

    $('#resetBtn').click(reset)

  </script>
</body>
</html>