<!DOCTYPE html>
<html lang="en">
<%- include('components/head') %>
<%- include('components/theme') %>
<%- include('components/header') %>

<div class="inner-banner bg-default-2 pt-29 pb-6">
    <div class="container">
      <div class="row  justify-content-center pt-5">
        <div class="col-xl-8 col-lg-9">
          <div class="px-md-15 text-center">
            <h2 class="title gr-text-2 mb-9">Terms & Conditions</h2>
            <p class="gr-text-8 mb-13">By accessing and placing an order with Rhombus Education, you confirm that you are in agreement with and bound by the terms and conditions</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-block bg-default-2 pb-21">
    <div class="container">
      <h3>Acceptance of Terms</h3>
      <p>Certain products and services may from time to time be made available to the candidate (here in after referred to as "you" or "User") enrolled in various courses being offered by Rhombus Education., ( here in after referred to as “our” or “us” or “we”).</p>
      <p>By registering/ purchasing any products or services through Rhombus Education website or Rhombus Education application, you signify that you have read, understood and agreed to be bound by the Terms of Use (here in after referred to as “Terms”) in effect during the entire validity period of the products and services being made available to you.</p>
      <p>These Terms and conditions of use are subject to change without prior written notice at any time, in Rhombus Education., sole discretion, and such changes shall apply to any purchases made after such changes are posted on the requisite platform. Therefore, you should review these Terms of Use prior to each registration/ purchase. If you do not agree to these Terms of Use or any part thereof, do not make any purchases or register with our courses.</p>
      
      <p class="mb-8">These Terms and conditions of use are subject to change without prior written notice at any time, in Rhombus Education., sole discretion, and such changes shall apply to any purchases made after such changes are posted on the requisite platform. Therefore, you should review these Terms of Use prior to each registration/ purchase. If you do not agree to these Terms of Use or any part thereof, do not make any purchases or register with our courses.</p>
      
      <p class="str"><strong>PLEASE READ THESE TERMS AND CONDITIONS OF USE CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS.</strong></p>
      
      <h4>1. Accounts</h4>
      <p>For the purpose of creating an account on the Rhombus Education website or the Rhombus Education application for enrolling in the desired courses, the user must have at least reached the age of majority, i.e., 18 years of age. In case, the user is a minor, the account may be created by the guardian entitled to act on behalf of such user. Rhombus Education., team reserves the right to terminate the account in the event of any age related fraud on the users’ end.</p>
      <p>The user will need an account for availing the services and products being offered by us. The account will be required for most of the activities including for purchasing of online products and services, enrolling in the desired course, gaining access to the course material, etc. It is clarified that these accounts may be paid or free depending upon the course being chosen by the user. It is, hereby, brought to your notice that at the time of enrolling, you must provide your correct and complete information in all the fields. Once all the formalities have been completed, you will be provided with a registration id and password. It shall be your responsibility to keep your password safe. In case of any misuse of your account in the event of you sharing your login credentials with others, we will not responsible for the same, neither will we interfere in any disputes arising out of such matters. In other events of misuse of account where no information has been shared by the user, you can inform us about the same by contacting our support team immediately.</p>
      <p>The user will have completely responsibility for the account and all the activities taking place on your account, including any harm or damage (to us or anyone else) irrespective of whether caused by you or someone using your account without your permission. Hence, the user must be careful with the login credentials, especially the password.</p>
      <p>It is hereby, clarified that your account will not be transferable nor will you be given the access to another user’s account by us. In the event of death of the user, the account shall be closed.</p>
      
      <p class="mb-8">The user can close/terminate the account at any time by following the steps so given for the same.</p>
    
      <h4>2. Enrollment Rights and Access to Account</h4>
      <p>After enrolling, the user will get access to the account and the course material for a limited period of time. The account will be closed automatically once the time period allotted for the enrolled course lapses. It is clarified that we reserves the right to disable/terminate your account before the expiry of the time period so allotted, in the event of an emergency or because of legal or policy reasons.</p>
      <p>Once an account has been created for the user irrespective of whether the account is paid or free, the user will get a limited right of accessing the course material and other associated benefits which are included in the course. This right is educational, non-exclusive, non-transferable and non-commercial. Under no circumstances, the user will get the right to resell the course in any manner or the right to reproduce copies of the course material for any purpose whatsoever. The user is not allowed to redistribute, transmit, sell, share, lend, edit or modify the course material and services.</p>
      
      <h4>3. Pricing of courses, Payment methods and Refunds</h4>
      
      <h5><strong>a. Pricing</strong></h5>
      <p>Different prices have been quoted for different courses. At the same time, some courses have been made available free of cost. The price of each course will differ from other courses. Additionally the same course may have been priced differently on the website and the application due to policies being followed for sales and promotions.</p>
      <p>Rhombus Education runs promotional services also through which certain courses are made available at discounted prices. Additionally, these offers may be made available for a selected category of users and not for everyone. The discounted price will be available only till the promotional service is in force. Hence, the price of the course will be such as is the current price at the time of purchase.</p>
      <p class="mb-8">The price of a course may be raised or dropped at any time later on and it may be different from the price that was charged to you at the time of purchase.</p>
      
      <h5><strong>b. Payment methods</strong></h5>
      <p>With respect to paid courses, at the time of purchase, you agree to pay the requisite fees for courses that you purchase, and you authorize us to charge your debit or credit card or process other means of payment for those fees.</p>	
      <p>When you make a purchase, you agree not to use an invalid or unauthorized payment method. If your payment method fails, you shall not be given the access to the desired course.</p>	
      <p>We currently accept the following forms of payment: </p>	
      <p>For online payment:</p>	
      <p>Credit cards and certain Debit cards</p>	
      <p>Direct Debit of accounts with certain banks</p>	
      <p><strong>Note: </strong> By submitting an order through Rhombus Education website, you authorize the Company, or its designated payment processor, to charge the account you specify for the purchase amount.</p>
      <p class="mb-8">All payments are to be made in Indian Rupees.</p>
      
      <h5><strong>c. Cancellations  &amp; Refunds</strong></h5>
      <p>As a general rule, all sales made on Rhombus Education.com (HBE) or any of its sub-domains are final once an order confirmation is sent from our side. So no cancellations are allowed therein. </p>
      <p>As a standard practice, there is no refund policy for Online courses sold on HBE or any of its sub-domains. However, in certain cases, Money Back Guarantee is advertised on the individual course pages. HBE will abide by such commitments, as applicable on the day of purchase. HBE reserves the right to refuse refund in case of fraudulent intentions of the buyer, misuse of account or any other reason which may be considered deceitful. </p>
      <p>Further, only in certain special circumstance(s) as listed below, a customer may claim refund:</p>
      <p><strong>Duplicate Purchase:</strong> If an individual purchases a course twice by mistake, the intimation regarding the same may be provided within 48 hours of purchase. After due satisfactory diligence, the refund may be initiated.</p>
      <p><strong>Wrong course Purchase:</strong> A students may claim refund in case of wrong selection of course while making the payment. In such a scenario, the information regarding the same may be provided within 24 hours of purchase. Further, the course fee in such case may only be adjusted against another course(s) fee and not settled in cash. </p>
      
      <p class="mb-8">In case of any exceptional or unforeseen circumstances, the buyer may write to admin@Rhombus Education.com to explain applicable reasons. However, it will be HBE’s sole discretion to hear and admit the request basis prevailing circumstance(s). </p>
      
      <h4>4. Use of your account</h4>
        <ul class="sm-ltr">
      <li>The user agrees that the account or the course material shall not be used:</li>
        <ul class="disc">
          <li>For commercial purposes</li>
          <li>For any illegal or unlawful purposes</li>
          <li>For sending chain letters, junk mail, spam communication of any kind</li>
          <li>For the purpose of advertising any product, services or company, etc</li>
          <li>For harassing, threatening or abusing any other user</li>
          <li>For obtaining any personal information or account-related information from other users.</li>
          <li>The services shall not be used in a manner which is detrimental to the other users or which causes issues in another persons’ computer systems or networks.</li>
        </ul>
      <p>The user alone shall be liable in cases of breach of any of these matters so stated above and we hold no responsibility in matters arising out of breach of any or all of these points.</p>
      <li>The user shall be responsible for the content that is posted on our platforms by such user, irrespective of the form in which it is posted. Before posting any such content, it is the duty of the user to ensure that the same in no way breaches the local or national laws or the rights of others. We reserve the right to remove any of the content posted by the user if it violates our guidelines or appears to be unlawful, inappropriate or objectionable.</li>
      <li>By submitting or posting content on our platforms, you grant us a non-exclusive right to use, copy, reproduce, process, adapt, modify, publish, transmit, display, and distribute your content in any and all media or distribution methods with no compensation paid to you. This also includes making your content available to other companies, organizations, or individuals who partner with us. You represent and warrant that you have all the rights, power, and authority necessary to authorize us to use any content that you submit.</li>
      <li>Furthermore, the user will be responsible for logging out of the account at the end of each session.</li>
      </ul>
    <h4>5. Our rights</h4>
      <ul class="sm-ltr">
        <li>All the services, products and content material being made available to you through your account shall remain the property of Rhombus Education. The access of the same is being given to you by grant of a license/permission to use our products and services. The same is not sold to you. Creation of your account on our website or application will not give you a right to use our name in any manner whatsoever. The same shall be a breach of our Intellectual Property Rights.</li>
        <li>Rhombus Education has an absolute right to alter, edit, remove, suspend or refuse to share any content without any prior notice.</li>
        <li>Additionally, we may preserve or disclose the content and your personal information, if such disclosure appears to be necessary for the purpose of any local or national laws, our policies or in cases of infringement of the right or rights of another user. </li>
        <li>Additionally, we may preserve or disclose the content and your personal information, if such disclosure appears to be necessary for the purpose of any local or national laws, our policies or in cases of infringement of the right or rights of another user.</li>
        <li>By registering/ purchasing the product/ service on our website or application, you become a Bona fide student of Rhombus Education. and authorize us to use your name and photograph in any of its promotional communications such as newspapers, ads, leaflets etc. You will not make any claims of whatsoever nature.</li>
        <li>You may receive regular updates from us on new products, exclusive offers, institute information, etc</li>
        
      </ul>
    <h4>6. Closure/Termination of Account</h4>
    <p>Termination by you: You may, at any point in time, choose to terminate your subscription to a service by sending us an e-mail. Such termination will not change any amounts due to us.</p>
    <p>Termination by Rhombus Education.</p>
    <p>Your account will be automatically closed once the time limit for the enrolled course expires.</p>
    <p>Additionally, we reserve an exclusive right to terminate or suspend your use of our services and products or ban your account at any time without any prior notice if:</p>
    <ul class="disc">
      <li>You violate any of our policies or terms and conditions</li>
      <li>You fail to pay the requisite fee</li>
      <li>You breach any of the local or national laws.</li>
      <li>You engage in any fraudulent or illegal activities.</li>
      <li>Because of any technical problems</li>
    </ul>
    <p class="mb-8">We shall not hold any liability for the termination of your account or for removal of the content posted by you on our platform.</p>
    <h4>7. Using our services at your own risk</h4>
    <p>At Rhombus Education., our team works with complete dedication for the purpose of providing the user with quality material. We make a complete endeavor to review the courses as well as their legality. However, we do not guarantee complete reliability, validity or accuracy of these courses. If you enroll with us, you are relying on our material, services and products at your own risk. We will not be responsible in any manner in case the user is not able to clear the exam/exams or is not able to achieve complete success, for which the user had enrolled in our course/courses.</p>
    <p class="mb-8">The courses or the material being provided may appear to the user to be strenuous and by enrolling in our courses, you agree that you’ll be solely responsible for risks such as illness, bodily injury, disability, or death. You assume full responsibility for the choices you make before, during and after your enrollment in a course.</p>
    
    <h4>8. Binding Agreement</h4>
    <p>You agree that by registering, accessing or using our Services and/or our products, you are agreeing to enter into a legally binding contract with us. If you do not agree to these Terms, do not register, access, or otherwise use any of our Services.</p>
    <p class="mb-8">If at any time, any or all of the terms become invalid or unenforceable by virtue of any local or national law, then the same will be amended and replaced by a valid and enforceable provision bearing the intent of the original provision. The rest of the terms shall continue to be in effect as they were before such changes were made.</p>
    
    
    <h4>9. Disclaimers</h4>
    <p>The products and services on Rhombus Education platforms are being provided on an “as is” and “as available” basis.</p>
    <p>We disclaim any and all representations and warranties, whether express or implied, including without limitation implied warranties of title, merchantability, fitness for a particular purpose or non-infringement. We cannot guarantee and do not promise any specific results from use of our products or services. We do not represent or warrant that products, services or any part thereof, are accurate, complete, reliable, current or error-free or that products or services that are downloaded from the site are free of viruses or other harmful components. Therefore, you should exercise caution in the use and downloading of any such content or materials and use industry-recognized software to detect and disinfect viruses.</p>
    <p class="mb-8">Reference to any products, services, processes or other information, by trade name, trademark, manufacturer, and supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation thereof, or any affiliation therewith, by us.</p>
    
    <h4>10. Events beyond our reasonable control</h4>
    <p class="mb-8">We will not be held responsible for any delay or failure to comply with our obligations under these conditions if the delay or failure arises from any cause which is beyond its reasonable control including reasons of Force Majeure which shall include any default due to an act of God, war, or threatened war, act of terrorism or threatened act of terrorism, strike, lockout individual action, fire, flood, drought, tempest or other event beyond the control of either party.</p>
    
    <h4>11. Indemnification</h4>
    <p>If the user acts in a way that causes any harm, loss or legal trouble to us or any third person, you shall be bound to indemnify us. You may even be required to defend us, as and when we request you to do so, against any third-party claims, any demand for compensation, losses or expenses which arise out of:</p>
    <ul class="disc">
      <li>Your use of our services.</li>
      <li>The content posted by you on our platform/platforms.</li>
      <li>Your violation of our terms.</li>
      <li>Your violation of the rights of other users</li>
      <li>Your violation of the rights arising out of any local or national laws.</li>
      
    </ul>
    <h4>12. Relationship between the user and Rhombus Education.</h4>
    <p class="mb-8">It is hereby clarified that by creation of an account on our website or application, you are merely enrolling yourself for gaining access to our services and products and this is no manner is a partnership, employment or principle-agent relationship between us.</p>
    
    <h4>13. Dispute Resolution</h4>
    <p class="mb-8">In case of any dispute, you may contact our support team which will try to resolve the issue at the earliest.</p>
    
    <h4>14. Notices</h4>
    <p class="mb-8">We may send you notice with respect to Products/Services by sending an email message to the email address listed in your contact information, by sending a letter via postal mail to the contact address listed in your contact information, or by a posting on the website. Notices shall become effective immediately.</p>
    
    <h4>15. Waiver</h4>
    <p class="mb-8">Neither the failure nor any delay on the part of a party to exercise any right, remedy, power or privilege under this Agreement shall operate as a waiver thereof, nor shall any single or partial exercise of any right, remedy, power or privilege preclude any other or further exercise of the same or of any right, remedy, power or privilege, nor shall any waiver of any right, remedy, power or privilege with respect to any occurrence be construed as a waiver of such right, remedy, power or privilege with respect to any other occurrence.</p>
    
    <h4>16. Books &amp; Material</h4>
    <p class="mb-8">The books &amp; material is given to the students in several parts. Although most of this material is available to all the students who have enrolled for the course, we reserve the right to give some exam specific portion of the material only to a select group of students. In this case, a student can be asked to submit a copy of the hall ticket of the examination as a proof of registration before he can access the material. </p>
    
    <h4>17. Cookies</h4>
    <p class="mb-8">When you visit our website or when our services are delivered through the internet, small amounts of information are placed in the device being used. Such files are called cookies. By agreeing to these terms, you allow us to place such cookies in your device.</p>
    
    <h4>18. Other</h4>
    <p class="mb-8">These Terms of Use constitute the entire agreement between you and Rhombus Education. regarding registration and/or purchases you make on any of our platforms, superseding any prior agreements between you and us relating to such purchases. The failure to exercise or enforce any right or provision of these Terms of Use shall not constitute a waiver of such right or provision in that or any other instance. If any provision of this Agreement is held invalid, the remainder of this Agreement shall continue in full force and effect. If any provision of these Terms of Sale shall be deemed unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from these Terms of Use and shall not affect the validity and enforceability of any remaining provisions. </p>
    
    <h4>19. Questions</h4>
    <p>If you have any questions about these terms, the practices of the Rhombus Education., or your dealings with the us, you can contact us at support@rhombuseducation.com or write to:</p>	
    <p class="mb-8">
      Rhombus Education,<br>
      47 D Block,<br>
      Sri Ganganagar, Rajasthan, India<br>
    </p>
    
    <h4>20. Jurisdiction</h4>
    <p class="mb-8">Any dispute arising out of any transaction made by you on this website or due to any breach of these Terms of Use shall be subjected to Sri Ganganagar exclusively.</p>
    
    </div>
  </div>
    
<%- include('components/footer') %>
</body>
</html>